<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">Sidenav Content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" 
    fxLayout
    fxLayoutAlign="space-between center">
      <div><button (click)="sidenav.toggle()">Toggle Sidenav</button></div>
      <div id="logo">Pollarized</div>
      <div>
        <a class="nav-items" [routerLink]="['/']">Signup</a>
        <a class="nav-items" [routerLink]="['/login']">Login</a>
        <a class="nav-items" [routerLink]="['/createpoll']">createPoll</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

